/* assets/css/style.css */

/* Fixed size for team member images */
.team-member img {
    width: 250px; /* Fixed width */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensures image is scaled to fit without distortion */
    border-radius: 10px; /* Change to rounded corners */
    display: block; /* Centers the image */
    margin-left: auto; /* Centers the image */
    margin-right: auto; /* Centers the image */
}

@media (max-width: 768px) {
    .team-member img {
        width: 100%;
        height: auto;
    }
}

.navbar-collapse {
    display: none;
}

.navbar-collapse.show {
    display: block;
}
