/* assets/css/style.css */

/* Fixed size for team member images */
.team-member img {
    width: 250px; /* Fixed width */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensures image is scaled to fit without distortion */
    border-radius: 10px; /* Change to rounded corners */
    display: block; /* Centers the image */
    margin-left: auto; /* Centers the image */
    margin-right: auto; /* Centers the image */
}

@media (max-width: 768px) {
    .team-member img {
        width: 100%;
        height: auto;
    }
}

.navbar-collapse {
    display: none;
}

.navbar-collapse.show {
    display: block;
}

footer .social-icons {
    margin-top: 1rem;
}

footer .social-icons a {
    color: #bbb;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #fff;
}

footer .contact-details {
    margin-top: 1rem;
    font-size: 0.875rem;
}
